altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
argcomplete==3.5.0
bitarray==2.9.2
bitstring==4.2.3
cffi==1.17.1
cfgv==3.4.0
cryptography==43.0.1
distlib==0.3.8
ecdsa==0.19.0
esptool==4.8.0
filelock==3.16.1
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
identify==2.6.1
intelhex==2.3.0
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
nodeenv==1.9.1
pillow==10.4.0
platformdirs==4.3.6
pycparser==2.22
pyserial==3.5
PyYAML==6.0.2
reedsolo==1.7.0
ruff==0.6.7
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
virtualenv==20.26.5
